<ion-header>
    <ion-toolbar>
      <ion-title>
        Top Rated
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card (click)="verPelicula(item)" *ngFor="let item of items" class="welcome-card">
      <img [src]="posterUrl + item.poster_path" alt="Card image cap" />
      <ion-card-header>
        <ion-card-title>{{ item.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ item.overview }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>