<ion-header>
  <ion-toolbar>
    <ion-title>
      Movie detail
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img [src]="posterUrl + pelicula.poster_path" alt="Card image cap" />
    <ion-card-header>
      <ion-card-title>{{ pelicula.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Sinopsis</h2>
      <hr>
      <p>{{ pelicula.overview }}</p>
      <p>
        Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".0-0" }}/10</span>
        <br>
        Voto promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>