<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="star"></ion-icon>
      <ion-label>Top rated</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Popularity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
